---
layout: default
---

<div class="home">
  <ul class="content">
   <!-- <p> This is a project  </p> -->
   <p style="font-size:20px;text-indent:1em"> <b>*-tive</b> evolutionary optimization </p>
	<!--<p style="text-indent:1em;">This project focuses on how to nature collective, selective, competitive and cooperative behaviors could be systematically</p>
	<p style="text-indent:1em;">imitated to advance evolutionary optimization. </p> -->
	<hr id="line"> 
		<li> <b> Competitive-Cooperative  </b> 
      <div class="content"> 
	 Related 	Publication: <br> 
	   <b> Sheng Xin Zhang</b>, Li Ming Zheng, Kit Sang Tang, Shao Yong Zheng, Wing Shing Chan, <span class="link_face"> <a href="https://doi.org/10.1016/j.ins.2018.12.065"> Multi-layer competitive-cooperative framework for performance enhancement of differential evolution, </a> </span> Information Sciences. 482 (2019) 86-104.
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/pdf/MLCC.pdf">[PDF] </a> </span> 
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/pdf/Supplemental_file_MLCC.pdf">[Supplemental_file_MLCC] </a> </span> 
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/code/MLCCDE.zip">[MLCC_code] </a> </span>  <br> 
       	   
	  <!-- <span class="link_down"> <a href="https://zsxhomepage.github.io/pdf/MLCC.pdf">[pdf] </a> </span>
	   <span class="link_down"> <a href="https://zsxhomepage.github.io/code/MLCCDE.zip">[MLCCDE_code] </a> </span> &nbsp -->
      </div> 	
   </li>
   <br>
    <li> <b> Collective </b>
      <div class="content"> 
	   Related 	Publication: <br> 
	   Li Ming Zheng, <b> Sheng Xin Zhang</b>, Kit Sang Tang, Shao Yong Zheng, <span class="link_face"> <a href="https://doi.org/10.1016/j.ins.2017.02.055"> Differential evolution powered by collective information, </a> </span> Information Sciences. 399 (2017) 13–29. 
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/pdf/CIPDE.pdf">[PDF] </a> </span>
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/pdf/Supplemental_file_CIPDE.pdf">[Supplemental_file_CIPDE] </a> </span> 
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/code/CIPDE.zip"> [CIPDE_code] </a> </span>
      </div>    
	</li>
	<br>
	<li>  <b>  Selective  </b> 
      <div class="content"> 
	   Related 	Publication: <br> 
	   <b> Sheng Xin Zhang</b>, Wing Shing Chan, Zi Kang Peng, Shao Yong Zheng, Kit Sang Tang, Selective-candidate framework with similarity selection rule for evolutionary optimization, 
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/pdf/SCSS.pdf">[PDF] </a> </span> 
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/pdf/Supplemental_file_SCSS.pdf">[Supplemental_file_SCSS] </a> </span> 
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/code/SCSS_L_SHADE.zip">[SCSS_L_SHADE_code] </a> </span> 
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/code/SCSS_CMA_ES.zip">[SCSS_CMAES_code] </a> </span> 
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/code/SCSS_LIPS.zip">[SCSS_LIPS_code]</a> </span> &nbsp <br> 
	   
      </div> 
	  </li>
   <br> <br>
     <p style="font-size:20px;text-indent:1em"><b> Parallel collaborative </b> evolutionary optimization</p>
	<!--<ul>This project focuses on how  </ul> -->
	<hr id="line"> 
      <div class="content"> 
	  &nbsp &nbsp   Related  Publication: <br> 
	 <li type="square">  
	   <b> Sheng Xin Zhang</b>, Wing Shing Chan, Zi Kang Peng, Shao Yong Zheng, Kit Sang Tang, Selective-candidate framework with similarity selection rule for evolutionary optimization.
	 <!--    <span class="link_face"> <a href="https://zsxhomepage.github.io/pdf/SCSS.pdf">[pdf] </a> </span>
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/code/SCSS_L_SHADE.zip">[SCSS_L_SHADE_code] </a> </span> 
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/code/SCSS_CMAES.zip">[SCSS_CMAES_code] </a> </span> 
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/code/SCSS_LIPS.zip">[SCSS_LIPS_code] </a> </span> &nbsp -->
    </li>
      <br>
	  <li type="square">  
	   <b> Sheng Xin Zhang</b>, Li Ming Zheng, Kit Sang Tang, Shao Yong Zheng, Wing Shing Chan, Multi-layer competitive-cooperative framework for performance enhancement of differential evolution.
	 <!--     <span class="link_face"> <a href="https://zsxhomepage.github.io/pdf/MLCC.pdf">[pdf] </a> </span>
	   <span class="link_face"> <a href="https://zsxhomepage.github.io/code/MLCCDE.zip">[MLCCDE_code] </a> </span> &nbsp -->
      </li>
	  </div> 
	   
   </li>
 <!--  
 
 <span class="link_face"> <a href="https://zsxhomepage.github.io/pdf/CIPDE.pdf">[CIPDE_pdf] </a>  </span>
	<li>  <b> <span class="divcss5-00F"> Selective </span>  </b> </li>
 
 
    <blockquote>
       <p> This is a long quotation. This is a long quotation. This is a long quotation. This is a long quotation. This is a long quotation.</p>
       </blockquote>
	   
 	   {% for post in site.posts %}
		<div class="content">
		{{ post.excerpt }}
        </div>
		{% endfor %}
 
 
 {% for post in site.posts %}
      <li>
        <br>
         
		<!--  <h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y %H:%m" }}</span> 
        <hr id="line">  
		<div class="content">
		{{ post.excerpt }}
        </div>
		<br>
      </li>
    {% endfor %} -->
	<br>  <br> <br> 
	  <hr id="line">  
     &nbsp &nbsp Last update:  26-Jan-2019 
	<br> <br> <br>
 <div style="position:left:15px;"> <!--<div style="position:absolute;margin-left:3%;bottom:5px;"> -->
 
 <!--<div style="display:inline-block;width:200px;"><script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=56ydnu6pf7e&amp;m=0&amp;c=007eff&amp;cr1=ff007e&amp;sx=0" async="async"></script></div>
 -->
&nbsp &nbsp 
 
 
 </div>	
  </ul>
</div>

<!-- <div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <br>
         
		<!--  <h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y %H:%m" }}</span> 
        <hr id="line">   
		<div class="content">
		{{ post.excerpt }}
        </div>
		<br>
      </li>
    {% endfor %}
  </ul>
</div> -->